<h2>User List</h2>
<p-button (click)="openAddDialog()" icon="pi pi-user-plus" label="Add User"></p-button>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td>
                <p-button (click)="openEditDialog(user)" icon="pi pi-file-edit" label="Edit"></p-button>
            </td>
        </tr>
    </tbody>
</table>

<p-dialog header="Edit User" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false" (onHide)="closeEditDialog()">
    <form *ngIf="selectedUser" (ngSubmit)="saveUser()">
        <div>
            <label for="userId">ID:</label>
            <input type="text" id="userId" name="userId" [(ngModel)]="selectedUser.id" readonly>
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="selectedUser.username">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="selectedUser.email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" [(ngModel)]="selectedUser.password">
        </div>
        <p-button type="submit" label="Submit" icon="pi pi-check" (click)="saveUser()"></p-button>
    </form>
</p-dialog>
<p-dialog header="Add User" [(visible)]="visibleAddUser" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false" (onHide)="closeAddDialog()">
    <form (ngSubmit)="addUser()">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="newUser.username">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="newUser.email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="newUser.password">
        </div>
        <p-button type="submit" label="Submit" icon="pi pi-check"></p-button>
    </form>
</p-dialog>