<h2>Task List</h2>
<p-button (click)="showAddDialog()" icon="pi pi-plus" label="Add Task"></p-button>

<p-dialog header="Add Task" [(visible)]="addDialogVisible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
  [resizable]="false">
  <form (ngSubmit)="addTask()">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="newTask.username">
    </div>
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" [(ngModel)]="newTask.title">
    </div>
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" [(ngModel)]="newTask.description">
    </div>
    <div>
        <label for="urgency">Urgency:</label>
        <input type="text" id="urgency" name="urgency" [(ngModel)]="newTask.urgency">
    </div>
    <div>
        <label for="status">Status:</label>
        <input type="text" id="status" name="status" [(ngModel)]="newTask.status">
    </div>
    <p-button type="submit" label="Submit" icon="pi pi-check"></p-button>
</form>
</p-dialog>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Title</th>
      <th>Description</th>
      <th>Urgency</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.username }}</td>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.urgency }}</td>
      <td>{{ task.status }}</td>
      <td>
        <p-button (click)="completeTask(task)" icon="pi pi-check" label="Complete" severity="success"></p-button>&nbsp;
        <p-button (click)="openEditDialog(task)" icon="pi pi-file-edit" label="Edit"></p-button>&nbsp;
        <p-button (click)="deleteTask(task)" icon="pi pi-trash" label="Delete" severity="danger"></p-button>
      </td>
    </tr>
  </tbody>
  <p-dialog header="Edit User" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false" (onHide)="closeEditDialog()">
    <form *ngIf="selectedTask" (ngSubmit)="saveTask()">
        <div>
            <label for="taskId">Id:</label>
            <input type="text" id="taskId" name="taskId" [(ngModel)]="selectedTask.id" readonly>
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="selectedTask.username">
        </div>
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" [(ngModel)]="selectedTask.title">
        </div>
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" [(ngModel)]="selectedTask.description">
        </div>
        <div>
            <label for="urgency">Urgency:</label>
            <input type="text" id="urgency" name="urgency" [(ngModel)]="selectedTask.urgency">
        </div>
        <div>
            <label for="status">Status:</label>
            <input type="text" id="status" name="status" [(ngModel)]="selectedTask.status">
        </div>
        <p-button type="submit" label="Submit" icon="pi pi-check" (click)="saveTask()"></p-button>
    </form>
</p-dialog>
</table>

<a routerLink="/users">Skip to /users</a><br>
<a routerLink="/register">Skip to /register</a><br>
<a routerLink="/login">Skip to /login</a>
